@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  margin: 0%;
  padding: 0%;
}
.chat-window {
  margin: auto;
  width: 1140px;
  height: 750px;
  margin-top: 3%;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  background: #263238;
  position: relative;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(750px - (45px + 70px));
  background: url(../Images/body.png);
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 5px 10px 5px 10px;
  display: flex;
}
.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 420px;
  background-color: white;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 16px;
  padding: 16px;
  overflow-wrap: break-word;
  word-break: break-word;
}
#other {
  justify-content: flex-start;
}
#other .message-content {
  justify-content: flex-start;
}
#you {
  justify-content: flex-end;
}
#you .message-content {
  justify-content: flex-end;
  background-color: #fdf998;
}
#author
 {
  padding-bottom: 15px;
}
#author,
#time {
  color: grey;
  font-weight: 400;
  padding-bottom: 10px;
}
#you #time{
 display: flex;
 justify-content: flex-end;
}
.chat-window .chat-footer {
  padding: 8px;
  height: 45px;
  border: none;
  border-top: none;
  display: flex;
  justify-content: center;
}
.chat-footerhead {
  background-color: rgb(6, 145, 180);
  height: 60px;
}
.chat-window .chat-footer input {
  height: 90%;
  flex: 85%;
  border: none;
  padding: 0 0.7em;
  font-size: 1em;
  /* border-right: 1px dotted #607d8b; */
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: orangered;
  outline: none;
  color: white;
  margin-left: 8px;
}
@media screen and (max-width: 450px) {
  .chat-window .chat-body .message .message-content {
    max-width: 160px;
  }
  .chat-window {
    max-width: 320px;
  }
}
@media screen and (min-width: 450px) and (max-width: 780px) {
  .chat-window .chat-body .message .message-content {
    max-width: 260px;
  }
  .chat-window {
    width: 720px;
  }
}
